

<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} 江湖在喝酒的路上 </title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
 
  <div id="main">
 
    <header>
      <h1> 江湖在喝酒的路上 </h1>
    <header>
 
    <nav role="navigation">
      <ul>
        <li><a href="http://jackzzh.github.com/jackzzh">Home</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="http://blog.sina.com.cn/zzh250">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
 
    {{ content }}
 
    <footer>
      <p>@copy; 张郎老帅了. </p>
    </footer>
 
  </div>
</body>
</html>


